Sources/Credipaz.Comercio.Web/Service References/CommerceService/ComercioService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.16.10.221:8080/ComercioService/ComercioService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Credipaz.Comercio.Shared.Models" />
  <xs:element name="GetUserIdentification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserIdentificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Credipaz.Comercio.Shared.Models" minOccurs="0" name="GetUserIdentificationResult" nillable="true" type="q1:UserModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Credipaz.Comercio.Shared.Models" minOccurs="0" name="GetUserInfoResult" nillable="true" type="q2:InfoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredits">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Credipaz.Comercio.Shared.Models" minOccurs="0" name="GetCreditsResult" nillable="true" type="q3:ArrayOfCreditModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idLog" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Credipaz.Comercio.Shared.Models" minOccurs="0" name="GetCreditDetailResult" nillable="true" type="q4:CreditDetailModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommerceSellers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommerceSellersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Credipaz.Comercio.Shared.Models" minOccurs="0" name="GetCommerceSellersResult" nillable="true" type="q5:ArrayOfGenericObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommercePlans">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommercePlansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Credipaz.Comercio.Shared.Models" minOccurs="0" name="GetCommercePlansResult" nillable="true" type="q6:ArrayOfGenericObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommerceQuotas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommerceQuotasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Credipaz.Comercio.Shared.Models" minOccurs="0" name="GetCommerceQuotasResult" nillable="true" type="q7:ArrayOfTaxModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Credipaz.Comercio.Shared.Models" minOccurs="0" name="formData" nillable="true" type="q8:CreditDetailModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFormResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveFormResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConditions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConditionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Credipaz.Comercio.Shared.Models" minOccurs="0" name="GetConditionsResult" nillable="true" type="q9:ArrayOfCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>