Sources/Credipaz.Comercio.Web/Service References/ScoringService/Servicio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/wcfScoring" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/wcfScoring" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ParametrosEntradaScoring">
    <xs:sequence>
      <xs:element minOccurs="0" name="nDisponible" type="xs:decimal" />
      <xs:element minOccurs="0" name="nIDComerciante" type="xs:int" />
      <xs:element minOccurs="0" name="nIngresoMensual" type="xs:decimal" />
      <xs:element minOccurs="0" name="nLimiteCuotas" type="xs:decimal" />
      <xs:element minOccurs="0" name="nMontoSolicitado" type="xs:decimal" />
      <xs:element minOccurs="0" name="sCanal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sLKOcupacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sLugarConsulta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sTipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sValor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParametrosEntradaScoring" nillable="true" type="tns:ParametrosEntradaScoring" />
</xs:schema>