Sources/Credipaz.Comercio.Web/Service References/CommonService/CommonService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Credipaz.Common.Shared.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Credipaz.Common.Shared.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGenericObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GenericObject" nillable="true" type="tns:GenericObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGenericObject" nillable="true" type="tns:ArrayOfGenericObject" />
  <xs:complexType name="GenericObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericObject" nillable="true" type="tns:GenericObject" />
  <xs:complexType name="ArrayOfTelObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TelObject" nillable="true" type="tns:TelObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTelObject" nillable="true" type="tns:ArrayOfTelObject" />
  <xs:complexType name="TelObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AreaCodeLong" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="TelNumberLong" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TelObject" nillable="true" type="tns:TelObject" />
</xs:schema>