Sources/Credipaz.Comercio.Web/Service References/CommonService/CommonService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CommonService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_ICommonService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://172.16.10.221:8080/CommonService/CommonService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://172.16.10.221:8080/CommonService/CommonService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://172.16.10.221:8080/CommonService/CommonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Credipaz.Common.Shared.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICommonService_GetTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTypes" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTypesResponse" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetAreaCodes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAreaCodes" />
  </wsdl:message>
  <wsdl:message name="ICommonService_GetAreaCodes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAreaCodesResponse" />
  </wsdl:message>
  <wsdl:portType name="ICommonService">
    <wsdl:operation name="GetTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonService/GetTypes" message="tns:ICommonService_GetTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonService/GetTypesResponse" message="tns:ICommonService_GetTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAreaCodes">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommonService/GetAreaCodes" message="tns:ICommonService_GetAreaCodes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommonService/GetAreaCodesResponse" message="tns:ICommonService_GetAreaCodes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_ICommonService" type="tns:ICommonService">
    <wsp:PolicyReference URI="#CustomBinding_ICommonService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTypes">
      <soap12:operation soapAction="http://tempuri.org/ICommonService/GetTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAreaCodes">
      <soap12:operation soapAction="http://tempuri.org/ICommonService/GetAreaCodes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommonService">
    <wsdl:port name="CustomBinding_ICommonService" binding="tns:CustomBinding_ICommonService">
      <soap12:address location="http://172.16.10.221:8080/CommonService/CommonService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://172.16.10.221:8080/CommonService/CommonService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>